<div class="search-header">
    <a [routerLink]="['']">
        <img class="search-logo" height="30" width="92" src="https:www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google" data-atf="1" data-frt="0">
    </a>
    <div class="search-header-body">
        <div class="search-input">
            <input type="text" [ngModel]="searchTerm" name="searchTerm">
            <mat-icon [ngClass]="'close-icon'">close</mat-icon>
            <span class="pipe"></span>
            <mat-icon [ngClass]="'icon keyboard-icon'">keyboard</mat-icon>
            <svg class="icon goxjub" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#4285f4" d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z"></path><path fill="#34a853" d="m11 18.08h2v3.92h-2z"></path><path fill="#fbbc05" d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z"></path><path fill="#ea4335" d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z"></path></svg>
            <mat-icon [ngClass]="'icon search-icon'">search</mat-icon>
        </div>
        <div class="search-options">
            <div class="search-options-left">
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">search</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        All
                    </a>
                </div>
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">description</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        News
                    </a>
                </div>
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">image</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        Images
                    </a>
                </div>
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">local_offer</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        Shopping
                    </a>
                </div>
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">ondemand_video</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        Videos
                    </a>
                </div>
                <div class="search-option">
                    <mat-icon [ngClass]="'option-icon'">more_vert</mat-icon>
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        More
                    </a>
                </div>
            </div>
            <div class="search-options-right">
                <div class="search-option">
                    <a [routerLink]="['/search?q={{searchTerm}}']">
                        Tools
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-results" *ngIf="googleResponse;else noData">
    <p class="search-result-count" >
        About 
        {{googleResponse?.searchInformation?.formattedTotalResults}}
        results ({{googleResponse?.searchInformation?.formattedSearchTime}} seconds) for {{searchTerm}}
    </p>
    <div class="search-result" *ngFor="let result of googleResponse.items">
        <a href="{{result.link}}">
            <img *ngIf="result.pagemap?.cse_image?.length > 0 && result.pagemap?.cse_image[0]?.src"
                class="search-result-image"
                src="{{result.pagemap?.cse_image[0]?.src}}" 
            >
            {{result.displayLink}}
        </a>
        <a href="{{result.link}}" class="search-result-title">
            <h2>{{result.title}}</h2>
        </a>
        <p class="search-result-snippet">
            {{result.snippet}}
        </p>
    </div>
</div>
<ng-template #noData>
    <div class="search-results">
        <p class="search-result-count">
            Nenhum resultado encontrado para <b>{{searchTerm}}</b>
        </p>
    </div>
</ng-template>
